.shake
*.hi
*.ho
TAGS
*.log
*.profile
BUILD*
dist
dist-newstyle
OUT
*.orig
/.cabal-sandbox/
/cabal.sandbox.config
/upload_doc.sh

# Intellij IDEA
/.idea/
*.iml

.stack-work
result*
*~
/out
*.raw
*.qcow2
*.tar
*.vmdk
